.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color:bisque;
}

.sidebar_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: bisque;
    color:blanchedalmond;
    border-bottom: 3px solid coral;
}

.sidebar_channels{
    flex: 1; 
}

.sidebar_addChannel{
    cursor: pointer;
}

.sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: cornflowerblue;
    color:cornflowerblue;
}